.main_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.content_container {
    position: relative;
    width: 40vw;
}

.recs_container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: 485px;
}

.search_input {
    width: 40vw;
    background-color: transparent; 
    border: none; 
    outline: none;
    text-align: center; 
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 10px;
    font-family: "JetBrains Mono Regular";
    font-size: 20px;
    letter-spacing: 4.2px;
}

.search_input::placeholder {
    color: rgba(255, 255, 255, 0.7); 
}

.search_input:focus::placeholder {
    color: transparent;
}

.search_results {
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding-top: 20px;
    gap: 20px;
    max-height: 45vh;
    overflow-y: scroll;
}

.back_button {
    color: white;
    font-size: 16px;
    font-family: "JetBrains Mono Regular";
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    letter-spacing: 2.3px;
    cursor: pointer;
    padding-bottom: 16px;
}

/* .search_fade {
    position: absolute;
    z-index: 50;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, transparent, #767A9D);
} */

